#header {
	background-color: #2D8F85;

}

#logo {
	position: relative;
	width: 1%;
	height: auto;
	float: left;
}

h1 {
	position:relative;
	height: 2em;
	font-size: 3.05em;	
	text-align: center;
	padding: 2em 0 0 0;

}

h2 {
	position:relative;
	left: 50%;
	right: 50%;
	background-color: #FFFFFF;
	padding 3em 2em 3em 2em;
	margin: 1em;
	
}

h3 {

}

#navmenu {
	margin: 0; padding: 0px 0;
	list-style-type: none;
	height: 26px;	
}

#navmenu ul{
	float: left;
	margin: 0; padding: 0;
	width: 20%;
}

#navmenu li{
	float: left;
	margin: 0; padding: 0;
	width: 19%;
}

#navmenu a{
	position: relative;
	display: block;
	margin: 0px;
	height: 24px;
	font-size: 10px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: gray;
	color: white;
}

body {
	float: left;
	background-color: #00FF00;
	text-align: center;
	position: relative;

}

#content {
	position: relative;
	left: -50%;
	padding: 2em 1em 2em 1em;

	
}

#left {

	float: left;
	text-align: center;
	width: 50%;
	position:relative;
	left: 50%;
	right: 50%;
	background-color: #FFFFFF;
	border: #808080 solid 2px;
}

#right {

	float: right;
	text-align: center;
	width: 49%;
	position: relative;
	left: 50%;
	right: 50%;
	background-color: #FFFFFF;
	border: #808080 solid 3px;
}

#footernav {
	background-color: #FFFFFF
	float:left;
	position: relative;
	
	}

footer {
	float:left;
	position: relative;
	left: 45%;
	height: 1em;
}

footer {
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
	
footer a {
	padding: 3px 5px;
	}
	
a:link {
	color:#FF0000;}  /* unvisited link coloration to blend with the card */

a:visited {
	color:#00FF00;}  /* visited link coloration to blend with the card  */

a:hover {
	color:#FF00FF;}  /* mouse over link coloration to blend with the card */

a:active {
	color:#2D8F85;}  /* selected link coloration to blend with the card */ 